<div class="container-fluid p-0">
  <h1 class="h3 mb-3"><strong>Master</strong> Data</h1>

  <div class="row align-items-start">
    <!-- Masters Table -->
    <div class="col-12 col-lg-8 col-xxl-9 d-flex">
      <div class="card flex-fill">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">All Masters</h5>

          <!-- Filter -->
          <input
            type="text"
            placeholder="Filter by Master For"
            class="form-control form-control-sm w-50"
            [(ngModel)]="filterText"
            (input)="filterMasters()"
          />
        </div>

        <table class="table table-hover my-0">
          <thead>
            <tr>
              <th>Master Id</th>
              <th>Master For</th>
              <th>Master Value</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let master of filteredMasters; trackBy: trackById"
              class="tooltip-container"
            >
              <td>{{ master.masterId }}</td>
              <td>{{ master.masterFor }}</td>
              <td>
                <app-payment-icon [value]="master.masterValue"></app-payment-icon>
                {{ master.masterValue }}
              </td>
              <td>
                <button class="btn btn-sm btn-outline-primary me-1" (click)="editMaster(master)">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="deleteMaster(master.masterId)"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
              <span class="custom-tooltip">{{ getTooltipText(master.masterValue) }}</span>
            </tr>
          </tbody>
        </table>
        <app-loading *ngIf="loading"></app-loading>
      </div>
    </div>

    <!-- Add/Edit Master Form -->
    <div class="col-12 col-lg-4 col-xxl-3 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">
            {{ editMode ? 'Edit Master' : 'Add Master' }}
          </h5>
        </div>
        <div class="card-body d-flex w-100">
          <form #masterForm="ngForm" (ngSubmit)="addMaster(masterForm)" novalidate>
            <div class="mb-3">
              <label class="form-label">Master For</label>
              <input
                class="form-control form-control-lg"
                required
                [(ngModel)]="newMaster.masterFor"
                name="masterFor"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Master Value</label>
              <input
                class="form-control form-control-lg"
                required
                [(ngModel)]="newMaster.masterValue"
                name="masterValue"
              />
            </div>

            <div class="d-grid gap-2 mt-3">
              <button type="submit" [disabled]="!masterForm.valid" class="btn btn-lg btn-primary">
                {{ editMode ? 'Update Master' : 'Add Master' }}
                <app-loading *ngIf="loading"></app-loading>
              </button>
              <button type="button" class="btn btn-secondary" (click)="resetForm(masterForm)">
                Reset
              </button>
            </div>

            <div class="text-success success-msg">{{ success }}</div>
            <div class="text-danger error-msg">{{ error }}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
