.tooltip-container {
  position: relative;
  cursor: pointer;
}

.custom-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 93%; /* position above the item */
  left: 50%;
  font-size: 10px !important;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  font-size: 0.85rem;
  white-space: nowrap;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s ease, transform 0.2s ease;
  z-index: 10;
}

/* Small arrow below the tooltip */
.custom-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;

  border-color: #222 transparent transparent transparent;
}

/* Hover effect */
.tooltip-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

.error-msg {
  margin-top: 10px;
  font-size: 12px;
}
